<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><h2><i class="fa fa-map-marker" aria-hidden="true"></i> {{ title }}</h2></a>
  </div>
  <div>
      <span class="navbar-right">
          <h2><span class="badge badge-pill badge-primary">{{markers.length}}</span></h2>
      </span>
  </div>
</nav>

<div style="text-align:center">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat" 
      [longitude]="m.lng">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
        <ng-template>
          Name: {{m.label}} <br>
          {{m.isOpen}}
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
    <agm-marker [latitude]="lat" [longitude]="lng">
    </agm-marker>
  </agm-map>
</div>
<button type="button" (click)="sendLocation()" class="btn btn-primary btn-lg btn-block">Send Random Location</button>
<!-- <button (click)="fetchLocations()" type="button" class="btn btn-outline-primary">Fetch data from Google Places</button> -->