<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker
      *ngFor="let m of markers; let i = index"  
      [latitude]="m.lat" 
      [longitude]="m.lng">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
        <ng-template>
          Testing
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
    <agm-marker [latitude]="lat" [longitude]="lng">
    </agm-marker>
  </agm-map>
  
  
  <button (click)="sendLocation()">Send Random Location</button>
  <button (click)="fetchLocations()">Fetch data from Google Places</button>
</div>